apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}   
spec:
  selector:
    matchLabels:
      project: roboshop
      app: {{ .Values.appName }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80