apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}   
spec:
  type: {{ .Values.service.type }}
  selector:
{{ include "app.labels" . | indent 4}}
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}